/* Dimensionando o formulário de contato */
#contato-form {
    padding: 20px 100px;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-field {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

/* Tamanho e peso da fonte dos labels */
.contato-field label {
    font-size: 24pt;
    font-weight: 100;
    margin-bottom: 20px;
}

.contato-field input, 
.contato-field textarea
{
    width: 60%;
    font-size: 24pt;
}


.contato-select {
    display: flex;
    flex-direction: row;
    width: 500px;
}

.contato-select div {
    display: flex;
    align-items: center;
}

.contato-select label {
    font-size: 24pt;
    margin: 0px 75px 0px 25px;    
}

/* Centralizando input radio */
.contato-select input {
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

/* Estética do botão de enviar */
#send {
    margin-top: 50px;
    width: 170px;
    padding: 20px;
    background-color: #5E20C2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.28), inset 4px 4px 15px rgba(149, 83, 255, 0.69);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: flex-start;
    margin-left: 250px;
    color: var(--font-color);
    font-size: 18pt;
    font-weight: 700;
    text-decoration: none;
    border: none;
}

#send:hover {
    cursor: pointer;
}