

:root {
    --font-color: #f0f0f0
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F7F0FA;
}

.header {
    margin: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-ul {
    display: flex;
}

.header-ul li {
    list-style: none;
    font-size: 18pt;
    font-weight: 300;
}

.header-ul li a {
    text-decoration: none;
    color: var(--font-color);
    padding: 40px;

}

.header-contrate {
    height: 70px;
    width: 180px;
    display: flex;
    background: #84C220;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.28), inset 4px 4px 15px rgba(160, 234, 40, 0.75);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 20pt;
}

.header-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
    margin: 200px 100px;
}

.post p {
    text-indent: 75px;
    margin-bottom: 20px;
    font-size: 18pt;
    font-weight: 400;
}

.post h3 {
    font-size: 28pt;
}

.post h4 {
    font-size: 22pt;
    margin: 20px 0px;
}

.post h1 {
    font-size: 34pt;
    font-weight: 700;
    margin-bottom: 30px;
}

.post h2 {
    font-size: 26pt;
    font-weight: 100;
    margin-bottom: 30px;
}

.post img {
    width: 100%;
    margin-bottom: 50px;
}


.post p {
    font-size: 18pt;
    font-weight: 100;
}

.footer {
    color: var(--font-color);
    font-weight: 100;
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-footer {
    font-weight: 400;
    font-style: italic; 
    font-size: 18pt;
    margin-top: 50px;
}

.footer-bg {
    z-index: -1;
    position: absolute;
    width: 100%;
}

.footer-info {
    width: 100%;
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
    align-items: center;
}

.footer-social {
    display: flex;
    align-items: center;
    list-style: none;
}

.footer-social li {
    padding: 0px 30px;
}

.footer-address {
    text-align: right;
    font-size: 14pt;
    padding: 20px;
}

.footer-address p {
    margin: 0;
}

.footer-copyright {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.footer-copyright img {
    transform: translate(-150px, 20px);
}

.footer-copyright p {
    margin: 0;
}